{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header justify-content-between d-inline-flex align-items-center ">
                <h2 class="my-2">
                    <span class="iconify" data-icon="mdi:register"></span>
                    <span>實驗地點註冊實驗人員</span>
                </h2>
            </div>
            <div class="card-body py-4 px-2 px-lg-4 px-xl-5">
                <div class="input-group mb-2">
                    <label for="expList" class="input-group-text">實驗人員列表</label>
                    <textarea name="expList" id="expList"
                              class="form-control" rows="8" placeholder="請輸入實驗人員列表"></textarea>
                </div>
                <div class="row py-4">
                    <div class="col-6">
                        <button type="button" class="btn btn-danger w-100"
                                onclick="location.href='{{ url_for('exp.index') }}'">
                            <span class="iconify-inline" data-icon="websymbol:cancel"></span>
                            <span>取消</span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary w-100" id="contentSend">
                            <span class="iconify-inline" data-icon="subway:tick"></span>
                            <span>確認</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}',
            'state': '{{ state }}'
        }
    </script>
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
