{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="fluent-mdl2:questionnaire"></span>
                    <span>掃描實驗物</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="row py-4">
                    <div class="col-12">
                        <form action="" enctype="multipart/form-data" method="post">
                            <button type="submit" class="btn btn-success text-white w-100">
                                <span class="iconify-inline" data-icon="jam:write-f"></span>
                                <span>開始掃描</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="fluent-mdl2:questionnaire"></span>
                    <span>填寫問卷</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="row py-4">
                    <div class="col-12">
                        <button type="button" class="btn btn-secondary text-white w-100"
                                onclick="location.href='{{ url_for(g.endpoint.exp.private.form, id=id) }}'">
                            <span class="iconify-inline" data-icon="jam:write-f"></span>
                            <span>填寫問卷</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-4">
                <div class="col-12">
                    <button type="button" class="btn btn-primary w-100"
                            onclick="location.href='{{ url_for(g.endpoint.exp.public.index) }}'">
                        <span class="iconify-inline" data-icon="websymbol:cancel"></span>
                        <span>返回</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}',
            'state': '{{ state }}'
        }
    </script>
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
