{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify-inline" data-icon="fluent-mdl2:questionnaire"></span>
                    <span>實驗問卷</span>
                </h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-6">

                        <div class="card mb-4">
                            <div class="card-header d-inline-flex justify-content-between align-items-center">
                                <h2 class="my-2">
                                    <span class="iconify-inline" data-icon="ic:round-fact-check"></span>
                                    <span>選擇題</span>
                                </h2>
                                <div class="d-flex flex-column flex-sm-row">
                                    <button type="button" class="btn btn-outline-primary fs-5 fw-bold w-100 ws-nowrap" data-bs-toggle="modal"
                                            data-bs-target="#modalTopicMC">
                                        <span class="iconify-inline" data-icon="gridicons:add-outline"></span>
                                        <span>新增選擇題</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="MCTable" class="table table-striped text-center align-middle fs-5"
                                           data-toggle="table"
                                           data-locale="zh-TW">
                                        <thead>
                                        <tr>
                                            <th data-width="80" data-width-unit="%" data-field="multipleChoice">題目</th>
                                            <th data-width="10" data-width-unit="%" data-field="maxScore">最大分數</th>
                                            <th data-width="10" data-width-unit="%" data-field="MCAction">操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-lg-6">

                        <div class="card mb-4">
                            <div class="card-header d-inline-flex justify-content-between align-items-center">
                                <h2 class="my-2">
                                    <span class="iconify-inline" data-icon="icon-park-solid:topic"></span>
                                    <span>簡答題</span>
                                </h2>
                                <div class="d-flex flex-column flex-sm-row">
                                    <button type="button" class="btn btn-outline-primary fs-5 fw-bold w-100 ws-nowrap" data-bs-toggle="modal"
                                            data-bs-target="#modalTopicSA">
                                        <span class="iconify-inline" data-icon="gridicons:add-outline"></span>
                                        <span>新增簡答題</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="SATable" class="table table-striped text-center align-middle fs-5"
                                           data-toggle="table"
                                           data-locale="zh-TW">
                                        <thead>
                                        <tr>
                                            <th data-width="90" data-width-unit="%" data-field="shortAnswer">題目</th>
                                            <th data-width="10" data-width-unit="%" data-field="SAAction">操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="btn-group w-100">
                    <button type="button" class="btn btn-outline-secondary fs-5 fw-bold w-100 ws-nowrap"
                            onclick="location.href='{{ url_for(g.endpoint.exp.parent.index) }}'">
                        <span class="iconify-inline" data-icon="websymbol:cancel"></span>
                        <span>取消</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary fs-5 fw-bold w-100 ws-nowrap" id="expUpdateSend">
                        <span class="iconify-inline" data-icon="subway:tick"></span>
                        <span>確認</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
    {% include 'includes/modal/form/multiple-choice.html' %}
    {% include 'includes/modal/form/short-answer.html' %}
{% endblock %}

{% block script %}
    {{ super() }}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}'
        }
    </script>
    <!--  Page Customize Javascript  -->
{% endblock %}