{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify-inline" data-icon="zondicons:play-outline"></span>
                    <span>開始實驗</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="row py-4">
                    <div class="col-12">
                        <form action="" enctype="multipart/form-data" method="post">
                            <div class="input-group mb-2">
                                <label class="input-group-text">解盲時間</label>
                                <input name="date" id="date" type="datetime-local"
                                       class="form-control" placeholder="請輸入解盲時間">
                            </div>

                            <button type="submit" class="btn btn-outline-primary fs-5 fw-bold w-100 ws-nowrap setLoading">
                                <span class="iconify-inline" data-icon="subway:tick"></span>
                                <span>確定</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary w-100"
                onclick="location.href='{{ url_for(g.endpoint.exp.parent.index) }}'">
            <span class="iconify-inline" data-icon="ion:chevron-back-circle-outline"></span>
            <span>返回</span>
        </button>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
