{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">

        {% with url=url_for(g.endpoint.exp.parent.index) %}
            {% include 'includes/back.html' %}
        {% endwith %}

        <div class="card hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify-inline" data-icon="bxs:package"></span>
                    <span>新增實驗物</span>
                </h2>
            </div>
            <div class="card-body">

                <div class="btn-group w-100">
                    <form action="" enctype="multipart/form-data" method="post" class="w-100">
                        <input type="hidden" name="group" value="1">
                        <button type="submit" class="btn btn-outline-primary fs-1 fw-bold w-100 ws-nowrap rounded-0 setLoading">
                            <span class="iconify-inline" data-icon="healthicons:syringe-outline"></span>
                            <span>實驗組</span>
                        </button>
                    </form>
                    <form action="" enctype="multipart/form-data" method="post" class="w-100">
                        <input type="hidden" name="group" value="0">
                        <button type="submit" class="btn btn-outline-secondary fs-1 fw-bold w-100 ws-nowrap rounded-0 setLoading">
                            <span class="iconify-inline" data-icon="game-icons:clown"></span>
                            <span>對照組</span>
                        </button>
                    </form>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
