{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12 col-lg-6">

                {% with url=url_for(g.endpoint.exp.parent.index) %}
                    {% include 'includes/back.html' %}
                {% endwith %}

                <div class="card hv-shadow mb-4">
                    <div class="card-header">
                        <h2 class="my-2">
                            <span class="iconify-inline" data-icon="zondicons:play-outline"></span>
                            <span>開始實驗</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <form action="" enctype="multipart/form-data" method="post">
                            <div class="input-group mb-2">
                                <label class="input-group-text fs-5" for="date">解盲時間</label>
                                <input name="date" id="date" type="datetime-local" class="form-control fs-5">
                            </div>

                            <button type="submit" class="btn btn-secondary fs-5 w-100 ws-nowrap setLoading">
                                <span class="iconify-inline" data-icon="subway:tick"></span>
                                <span>確認</span>
                            </button>
                        </form>
                    </div>
                </div>

                {% include 'includes/card/exp/n-member.html' %}
                {% include 'includes/card/exp/n-object.html' %}

            </div>
            <div class="col-12 col-lg-6">

                {% include 'includes/card/exp/info.html' %}
                {% include 'includes/card/exp/form.html' %}

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}'
        }
    </script>
    <!--  Page Customize Javascript  -->
{% endblock %}