<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <!-- encoding -->
        <meta charset="UTF-8">
        <!-- RWD -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--  Favicon  -->
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='src/img/favicon/favicon.svg') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='src/img/favicon/favicon.png') }}">
        <!--  Title  -->
        <title>{{ title | default('Page') }} | {{ g.website_name | default('Flask Application') }}</title>
        <!--  JQuery  -->
        <script src="{{ url_for('static', filename="dist/node_modules/jquery/dist/jquery.min.js") }}"></script>
        <!--  Bootstrap  -->
        <script src="{{ url_for('static', filename="dist/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js") }}"></script>
        <!--  Bootstrap-Table  -->
        <script src="{{ url_for('static', filename="dist/node_modules/bootstrap-table/dist/bootstrap-table.min.js") }}"></script>
        <script src="{{ url_for('static', filename="dist/node_modules/bootstrap-table/dist/locale/bootstrap-table-zh-TW.min.js") }}"></script>
        <!--  Customize CSS  -->
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/main.css') }}">

    {% endblock %}

    {% block style %}

    {% endblock %}

</head>
<body class="d-flex flex-column min-vh-100 bg-light">
<header>
    {% block header %}
        <nav class="navbar navbar-dark navbar-expand-lg bg-primary px-3 fixed-top">
            <div class="container-fluid">
                <a href="{{ url_for(g.endpoint.exp.public.index) }}"
                   class="navbar-brand fs-1 fw-bold py-0 ds-100 hv-scale hv-color-text">
{#                    <span class="iconify-inline" data-icon="game-icons:blindfold"></span>#}
                    <span class="iconify-inline" data-icon="mdi:package-variant"></span>
                    <span>{{ g.website_name }}</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                    {% block navbar_item %}
                        <ul class="navbar-nav fs-4 fw-bold ds-100">
                            <li class="nav-item hv-scale">
                                <a href="{{ url_for(g.endpoint.exp.public.index) }}" class="nav-link text-white hv-color-text">
                                    <span>所有實驗</span>
                                </a>
                            </li>
                            <li class="nav-item hv-scale">
                                <a href="{{ url_for(g.endpoint.exp.parent.user) }}" class="nav-link text-white hv-color-text">
                                    <span>實驗管理</span>
                                </a>
                            </li>
                            <li class="nav-item hv-scale">
                                <a href="{{ url_for(g.endpoint.exp.private.join) }}" class="nav-link text-white hv-color-text">
                                    <span>我的實驗</span>
                                </a>
                            </li>
                            <li class="nav-item hv-scale">
                                <a href="{{ url_for(g.endpoint.oauth.index) }}" class="nav-link text-white hv-color-text">
                                    <span>權威機構</span>
                                </a>
                            </li>
                            <li class="nav-item hv-scale dropdown">
                                <button type="button" class="bg-transparent border-0 fw-bold nav-link text-white hv-color-text dropdown-toggle"
                                   data-bs-toggle="dropdown">
                                    <span class="iconify-inline" data-icon="healthicons:ui-user-profile"></span>
                                        <span>{{ session.get('account')[2:8] }}</span>
                                </button>
                                <ul class="dropdown-menu fade">
                                    <li>
                                        <button class="dropdown-item hv-color-bg" id="c-account">
                                            <span class="iconify" data-icon="uil:copy"></span>
                                            <span>複製帳號</span>
                                        </button>
                                    </li>
                                    <li>
                                        <form method="POST" action="{{ url_for(g.endpoint.user.logout) }}">
                                            <a href="{{ url_for(g.endpoint.user.logout) }}" class="dropdown-item hv-color-bg"
                                               onclick="event.preventDefault();this.closest('form').submit();">
                                                <span class="iconify-inline" data-icon="ls:login"></span>
                                                <span>登出</span>
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                    {% endblock %}
                </div>
            </div>
        </nav>
    {% endblock %}

</header>
<main>
    {% block main %}

    {% endblock %}

</main>
<footer class="mt-auto">
    {% block footer %}
        <div class="bg-primary d-flex justify-content-center align-items-center p-2">
            <span class="text-white">
                <span>Copyright © 2022, HPDS-Lab. All Rights Reserved.</span>
            </span>
        </div>
    {% endblock %}

</footer>
{% block script %}
    <!--  Parameters  -->
    <script>
        const server = {
            'page_title': '{{ title }}',
            'endpoint': '{{ request.endpoint }}',
            'route': JSON.parse('{{ g.route | tojson }}'),
            {#'endpoint_list': {{ g.endpoint_list | tojson}},#}
            'basic_auth': "{{ session.get('basic_auth') }}",
            'account': "{{ session.get('account') }}",
            'url': JSON.parse('{{ g.url.dict() | tojson }}'),
            'flash': JSON.parse('{{ get_flashed_messages(with_categories=true) | tojson }}')
        }
    </script>
    <!--  Customize Javascript  -->
    <script src="{{ url_for('static', filename='dist/js/main.js') }}"></script>
{% endblock %}

</body>
</html>