{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">

        {% include 'includes/card/exp/info.html' %}
        {% include 'includes/card/exp/form.html' %}

        <button type="button" class="btn btn-primary w-100"
                onclick="location.href='{{ url_for(g.endpoint.exp.public.index) }}'">
            <span class="iconify-inline" data-icon="websymbol:cancel"></span>
            <span>返回</span>
        </button>
    </div>
{% endblock %}

{% block script %}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}',
            'state': '{{ state }}'
        }
    </script>
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
