{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-12 col-lg-6">

                {% with url=url_for(g.endpoint.exp.public.index) %}
                    {% include 'includes/back.html' %}
                {% endwith %}

                {% include 'includes/card/exp/info.html' %}

            </div>
            <div class="col-12 col-lg-6">

                {% include 'includes/card/exp/form.html' %}

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}',
            'state': '{{ state }}'
        }
    </script>
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
