{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-12 col-lg-6">

                {% with url=url_for(g.endpoint.exp.public.index) %}
                    {% include 'includes/back.html' %}
                {% endwith %}

                <div class="card hv-shadow mb-4">
                    <div class="card-header">
                        <h2 class="my-2">
                            <span class="iconify-inline" data-icon="mingcute:unlock-fill"></span>
                            <span>解盲資料</span>
                        </h2>
                    </div>
                    <div class="card-body">

                        <div class="card mb-4">
                            <div class="card-header">
                                <span class="fs-5">
                                    <span class="iconify-inline" data-icon="carbon:raw"></span>
                                    <span>原始資料</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-secondary w-100 fs-5 mb-2" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#rawCollapse">
                                    <span>展開</span>
                                </button>
                                <div class="collapse" id="rawCollapse">
                                    <div class="card card-body" id="rawData">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                <span class="fs-5">
                                    <span class="iconify-inline" data-icon="carbon:raw"></span>
                                    <span>解盲資料 JSON</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-secondary w-100 fs-5 mb-2" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#finishCollapse">
                                    <span>展開</span>
                                </button>
                                <div class="collapse" id="finishCollapse">
                                    <div class="card card-body" id="finishData">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header d-inline-flex justify-content-between align-items-center">
                                <span class="fs-5">
                                    <span class="iconify-inline" data-icon="ic:round-fact-check"></span>
                                    <span>選擇題</span>
                                </span>
                                <div class="d-flex flex-column flex-sm-row">
                                    <input type="search" id="MCSearch" class="form-control" placeholder="搜尋" autocomplete="off">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="unblindMCTable" class="table table-striped text-center align-middle fs-5"
                                           data-toggle="table"
                                           data-search="true"
                                           data-search-selector="#MCSearch"
                                           data-pagination="true"
                                           data-page-size="10"
                                           data-page-list="[10, 20, 30, 50, All]"
                                           data-locale="zh-TW">
                                        <thead>
                                        <tr>
                                            <th data-width="70" data-width-unit="%" data-field="topic" data-sortable="true">題目</th>
                                            <th data-width="15" data-width-unit="%" data-field="score" data-sortable="true">分數</th>
                                            <th data-width="15" data-width-unit="%" data-field="group" data-sortable="true">組別</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header d-inline-flex justify-content-between align-items-center">
                                <span class="fs-5">
                                    <span class="iconify-inline" data-icon="icon-park-solid:topic"></span>
                                    <span>簡答題</span>
                                </span>
                                <div class="d-flex flex-column flex-sm-row">
                                    <input type="search" id="SASearch" class="form-control" placeholder="搜尋" autocomplete="off">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="unblindSATable" class="table table-striped text-center align-middle fs-5"
                                           data-toggle="table"
                                           data-search="true"
                                           data-search-selector="#SASearch"
                                           data-pagination="true"
                                           data-page-size="10"
                                           data-page-list="[10, 20, 30, 50, All]"
                                           data-locale="zh-TW">
                                        <thead>
                                        <tr>
                                            <th data-width="45" data-width-unit="%" data-field="topic" data-sortable="true" >題目</th>
                                            <th data-width="40" data-width-unit="%" data-field="scale">回答</th>
                                            <th data-width="15" data-width-unit="%" data-field="group" data-sortable="true">組別</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-6">

                {% include 'includes/card/exp/info.html' %}
                {% include 'includes/card/exp/form.html' %}

                {% include 'includes/card/exp/n-member.html' %}
                {% include 'includes/card/exp/n-object.html' %}

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}',
            'state': '{{ state }}'
        }
    </script>
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
