{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="material-symbols:add-circle"></span>
                    <span>實驗資訊</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="input-group mb-2">
                    <label for="expName" class="input-group-text">實驗名稱</label>
                    <input name="expName" id="expName" type="text"
                           class="form-control" placeholder="請輸入實驗名稱">
                </div>
                <div class="input-group mb-2">
                    <label for="expContent" class="input-group-text">實驗內容</label>
                    <textarea name="expContent" id="expContent"
                              class="form-control" placeholder="請輸入實驗內容" rows="8"></textarea>
                </div>
                <div class="input-group mb-2">
                    <label for="expTime" class="input-group-text">實驗時間</label>
                    <input name="expTime" id="expTime" type="date"
                           class="form-control" placeholder="請輸入實驗時間">
                </div>

                <div class="row py-4">
                    <div class="col-6">
                        <button type="button" class="btn btn-danger w-100"
                                onclick="location.href='{{ url_for('exp.index') }}'">
                            <span class="iconify-inline" data-icon="websymbol:cancel"></span>
                            <span>取消</span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary w-100" id="expSend">
                            <span class="iconify-inline" data-icon="subway:tick"></span>
                            <span>確認</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{#    {% include 'includes/modal/topic/multiple-choice.html' %}#}
{#    {% include 'includes/modal/topic/short-answer.html' %}#}
{% endblock %}

{% block script %}
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
