{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="fluent-mdl2:questionnaire"></span>
                    <span>實驗問卷</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="input-group mb-2">
                    <label for="subId" class="input-group-text">受測人員編號</label>
                    <input name="subId" id="subId" type="text"
                           class="form-control" placeholder="請輸入受測人員編號">
                </div>
                <h3>選擇題</h3>
                <div class="table-responsive">
                    <table id="MCTable" class="table table-striped text-center align-middle fs-5 ws-nowrap"
                           data-toggle="table"
                           data-locale="zh-TW">
                        <thead>
                        <tr>
                            <th data-width="60" data-width-unit="%" data-field="multipleChoice">題目</th>
                            <th data-width="40" data-width-unit="%" data-field="value">分數</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <hr>
                <h3>簡答題</h3>
                <div class="table-responsive">
                    <table id="SATable" class="table table-striped text-center align-middle fs-5 ws-nowrap"
                           data-toggle="table"
                           data-locale="zh-TW">
                        <thead>
                        <tr>
                            <th data-width="60" data-width-unit="%" data-field="shortAnswer">題目</th>
                            <th data-width="40" data-width-unit="%" data-field="value">回答</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="row py-4">
                    <div class="col-6">
                        <button type="button" class="btn btn-danger w-100"
                                onclick="location.href='{{ url_for('exp.user') }}'">
                            <span class="iconify-inline" data-icon="websymbol:cancel"></span>
                            <span>取消</span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary w-100" id="expFormSend">
                            <span class="iconify-inline" data-icon="subway:tick"></span>
                            <span>確認</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block script %}
    {{ super() }}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}'
        }
    </script>
    <!--  Page Customize Javascript  -->
{% endblock %}