{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="fluent-mdl2:questionnaire"></span>
                    <span>實驗物資料</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="row py-4">

                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary w-100"
                onclick="location.href='{{ url_for(g.endpoint.exp.parent.user) }}'">
            <span class="iconify-inline" data-icon="websymbol:cancel"></span>
            <span>返回</span>
        </button>
    </div>
{% endblock %}

{% block script %}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}',
        }
    </script>
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}