{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="material-symbols:add-circle"></span>
                    <span>實驗資訊</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <pre>進行中的實驗

招募志願者
實驗人員、受測人員註冊頁面表單
物流人員註冊頁面表單
地點
獎勵回饋機制</pre>
            </div>
        </div>

    </div>
{% endblock %}