{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="material-symbols:add-circle"></span>
                    <span>實驗資訊</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="input-group mb-2">
                    <label for="expId" class="input-group-text">實驗編號</label>
                    <input name="expId" id="expId" type="text"
                           class="form-control" placeholder="-" disabled>
                </div>
                <div class="input-group mb-2">
                    <label for="expName" class="input-group-text">實驗名稱</label>
                    <input name="expName" id="expName" type="text"
                           class="form-control" placeholder="-" disabled>
                </div>
                <div class="input-group mb-2">
                    <label for="expContent" class="input-group-text">實驗內容</label>
                    <textarea name="expContent" id="expContent"
                              class="form-control" rows="8" placeholder="-" disabled></textarea>
                </div>
                <div class="input-group mb-2">
                    <label for="expTime" class="input-group-text">實驗時間</label>
                    <input name="expTime" id="expTime" type="text"
                           class="form-control" placeholder="-" disabled>
                </div>
                <div class="input-group mb-2">
                    <label class="input-group-text">實驗人員</label>
                    <input id="expNum" type="text" class="form-control" placeholder="-" disabled>
                    <label class="input-group-text">受測人員</label>
                    <input id="subNum" type="text" class="form-control" placeholder="-" disabled>
                    <label class="input-group-text">物流人員</label>
                    <input id="logNum" type="text" class="form-control" placeholder="-" disabled>
                </div>
            </div>
        </div>
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="fluent-mdl2:questionnaire"></span>
                    <span>實驗問卷</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="table-responsive">
                    <table id="MCTable" class="table table-striped text-center align-middle fs-5 ws-nowrap"
                           data-toggle="table"
                           data-locale="zh-TW">
                        <thead>
                        <tr>
                            <th data-width="80" data-width-unit="%" data-field="multipleChoice">題目</th>
                            <th data-width="10" data-width-unit="%" data-field="maxScore">最大分數</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-responsive">
                    <table id="SATable" class="table table-striped text-center align-middle fs-5 ws-nowrap"
                           data-toggle="table"
                           data-locale="zh-TW">
                        <thead>
                        <tr>
                            <th data-width="90" data-width-unit="%" data-field="shortAnswer">題目</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="fluent-mdl2:questionnaire"></span>
                    <span>註冊</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <div class="row py-4">
                    <div class="col-4">
                        <button type="button" class="btn btn-primary w-100"
                                onclick="location.href='{{ url_for('exp.register', address=id, type=1) }}'">
                            <span class="iconify-inline" data-icon="ant-design:experiment-filled"></span>
                            <span>註冊實驗人員</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-danger w-100"
                                onclick="location.href='{{ url_for('exp.register', address=id, type=2) }}'">
                            <span class="iconify-inline" data-icon="mdi:patient"></span>
                            <span>註冊受測人員</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-warning w-100"
                                onclick="location.href='{{ url_for('exp.register', address=id, type=3) }}'">
                            <span class="iconify-inline" data-icon="mdi:package-variant"></span>
                            <span>註冊物流人員</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-4">
                <div class="col-12">
                    <button type="button" class="btn btn-primary w-100"
                            onclick="location.href='{{ url_for('exp.index') }}'">
                        <span class="iconify-inline" data-icon="websymbol:cancel"></span>
                        <span>返回</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!--  Parameters  -->
    <script>
        const page = {
            'id': '{{id}}',
            'state': '{{ state }}'
        }
    </script>
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}
