{% extends "base/all.html" %}

{% block main %}
    <div class="container-fluid py-4">
        <div class="card border hv-shadow mb-4">
            <div class="card-header">
                <h2 class="my-2">
                    <span class="iconify" data-icon="material-symbols:add-circle"></span>
                    <span>實驗資訊</span>
                </h2>
            </div>
            <div class="card-body px-5 py-4">
                <pre>尚未開始的實驗

招募志願者
實驗人員、受測人員註冊頁面表單
身分別：實驗人員、受測人員
實驗名稱（ID）
實驗說明
實驗進行時間範圍
實驗解盲時間點
志願者要填的相關資訊欄位
實驗結果相關資訊欄位
獎勵回饋機制</pre>
                <hr>
                <pre>進行中的實驗

招募志願者
實驗人員、受測人員註冊頁面表單
物流人員註冊頁面表單
地點
獎勵回饋機制</pre>
                <hr>
                <pre>已完成的實驗

區塊鏈上已完成的實驗
未解盲
已解盲
實驗結果相關資訊欄位
可公開的志願者資訊
性別、身高、體重等去識別化資料
是否有效、是否有噁心反應、是否有過敏反應...
下載 raw data</pre>
            </div>
        </div>

    </div>
{% endblock %}