{% extends "base/dialog.html" %}


{% block content %}
    <form action="#" id="loginForm" method="POST"
          enctype="multipart/form-data"
          class="w-100 mb-3">
        <div class="input-group mb-3">
            <label for="password" class="input-group-text fs-5">密碼</label>
            <input name="password" type="password" id="password"
                   class="form-control form-control-lg"
                   placeholder="請輸入密碼">
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-3" id="send" onclick="event.preventDefault()">
            <span class="iconify-inline" data-icon="gg:check-o"></span>
            <span>確認註冊</span>
        </button>
        <a href="{{ url_for(g.endpoint.user.login) }}" class="btn btn-secondary text-white w-100">
            <span class="iconify-inline" data-icon="ion:chevron-back-circle-sharp"></span>
            <span>返回</span>
        </a>
    </form>
{% endblock %}


{% block script %}
    {{ super() }}
    <!--  Page Customize Javascript  -->
{% endblock %}