// scss-docs-start theme-color-variables
$primary:       #008979 !default;
$secondary:     #1c569e !default;
$success:       #00ab3f !default;
$info:          #00a5e4 !default;
$warning:       #f1c700 !default;
$danger:        #f6003a !default;
$light:         #c2d2e3 !default;
$dark:          #000305 !default;
// scss-docs-end theme-color-variables
